@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  background-color: #eaeaea;
  margin: 0;
  color: #333;
  font-family: quicksand, 'Times New Roman', Times, serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.effect-fade.effect-scroll {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.effect-fade {
  opacity: 0;
  -webkit-transform: translate(0, 45px);
          transform: translate(0, 45px);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.effect-fade p {
  padding: 20px;
  padding-top: 0;
}

header {
  background: #48f565;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

header #header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #header-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #header-flex ul li {
  padding-right: 30px;
}

header #header-flex ul li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header #header-flex ul li:hover {
  opacity: 0.7;
}

header #header-flex #contact {
  background: #06ebb1;
  padding: 20px;
  line-height: 20px;
}

header #header-flex #contact:hover {
  opacity: 0.7;
}

header #header-flex a {
  padding: 5px 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header #logo {
  text-align: center;
}

header #logo img {
  width: 100px;
}

#mainvisual {
  height: calc(100vh - 56px);
  background-image: url(water.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 50px;
}

#mainvisual h1 {
  position: absolute;
  top: 230px;
  left: 400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 5rem;
  font-weight: normal;
}

.glowAnime span {
  opacity: 0;
}

/*アニメーションで透過を0から1に変化させtext-shadowをつける*/
.glowAnime.glow span {
  -webkit-animation: glow_anime_on 1s ease-out forwards;
          animation: glow_anime_on 1s ease-out forwards;
}

@-webkit-keyframes glow_anime_on {
  0% {
    opacity: 0;
    text-shadow: 0 0 0 #fff,0 0 0 #fff;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px #fff,0 0 15px #fff;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0 #fff,0 0 0 #fff;
  }
}

@keyframes glow_anime_on {
  0% {
    opacity: 0;
    text-shadow: 0 0 0 #fff,0 0 0 #fff;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px #fff,0 0 15px #fff;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0 #fff,0 0 0 #fff;
  }
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}

/*割れる画面のアニメーション*/
.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #05d105;
  -webkit-transition: all 0.2s cubic-bezier(0.04, 0.435, 0.315, 0.9);
  transition: all 0.2s cubic-bezier(0.04, 0.435, 0.315, 0.9);
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

/*上の画面*/
.loader_cover-up {
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
  position: absolute;
  bottom: 0;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

/*クラス名がついたらY軸方向に0*/
.coveranime {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/
/*スクロールダウン全体の場所*/
.scrolldown4 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 1%;
  right: 50%;
  /*矢印の動き1秒かけて永遠にループ*/
  -webkit-animation: arrowmove 1s ease-in-out infinite;
          animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@-webkit-keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}

/*Scrollテキストの描写*/
.scrolldown4 span {
  /*描画位置*/
  position: absolute;
  left: -20px;
  bottom: 10px;
  /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #eee;
  -webkit-transform: skewX(-31deg);
          transform: skewX(-31deg);
}

.scrolldown4:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 50px;
  background: #eee;
}

.wave {
  position: relative;
  height: 200px;
  /*何も表示されない場合は各波の親要素に高さを持たせましょう。*/
}

canvas {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}

.section-title {
  text-align: center;
  font-family: academy Engraved LET, 'Times New Roman', Times, serif;
  font-weight: normal;
  border-bottom: solid 2px #48f565;
}

#aboutme {
  padding: 100px 50px;
}

#aboutme #aboutme-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aboutme #aboutme-flex #aboutme-image {
  width: 50%;
}

#aboutme #aboutme-flex #aboutme-image img {
  width: 400px;
  -webkit-box-shadow: 3px 3px 3px #333;
          box-shadow: 3px 3px 3px #333;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

h4 {
  text-align: center;
  font-size: 0.5rem;
  margin: 0;
}

#skill {
  margin-bottom: 100px;
}

#skill #skill-flex {
  background: url(skill-back.png);
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#skill #skill-flex .skillcontent {
  width: 30%;
}

#skill #skill-flex .skillcontent img {
  height: 150px;
}

#solution {
  margin-bottom: 100px;
}

#solution .solution-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#solution .solution-flex .phase {
  width: 80px;
  height: 80px;
  background: #48f565;
  text-align: center;
  border-radius: 50%;
  line-height: 45px;
}

#solution .solution-flex .solution-content {
  width: 80%;
  padding-left: 20px;
}

#solution .yajirushi {
  text-align: center;
}

#solution .yajirushi img {
  width: 70px;
}

#works #works-flex {
  width: 600px;
  margin: 0 auto;
}

#works #works-flex a {
  display: block;
  padding-bottom: 40px;
}

footer {
  background: #48f565;
  height: 30px;
  line-height: 30px;
}

footer small {
  display: block;
  text-align: center;
}

@media screen and (max-width: 500px) {
  header nav {
    display: none;
  }
  header #contact {
    display: none;
  }
  header .openbtn {
    display: block;
  }
  main {
    width: 100% !important;
  }
  #mainvisual {
    margin: 0;
    height: 100vh;
  }
  #mainvisual h1 {
    position: absolute;
    top: 250px;
    left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: normal;
  }
  #aboutme {
    width: 300px;
    margin: 20px auto;
    padding-left: 0;
    padding-right: 0;
  }
  #aboutme #aboutme-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #aboutme #aboutme-flex #aboutme-image {
    width: 100%;
  }
  #aboutme #aboutme-flex #aboutme-text {
    width: 100%;
    height: 400px;
  }
  #skill {
    width: 300px;
    margin: 20px auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;
  }
  #skill #skill-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #skill #skill-flex .skillcontent {
    width: 90%;
    margin: 0 auto;
  }
  #skill #skill-flex .skillcontent img {
    height: 100%;
  }
  #works {
    width: 300px;
    margin: 20px auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;
  }
  #works #works-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #works #works-flex a {
    width: 100%;
    text-align: center;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */